<form action="{{act}}" method="post">
    <input type="hidden" name="input_id" id="input_id" value="{{id}}"><br>
    <label for="input_nome">Nome</label><br>
    <input type="text" name="input_nome" id="input_nome" value="{{nome}}"><br>
    <label for="input_tamanho">Tamanho</label><br>
    <input type="text" name="input_tamanho" id="input_tamanho" value="{{tam}}"><br>
    <label for="input_recheio">Recheio</label><br>
    <input type="text" name="input_recheio" id="input_recheio" value="{{rec}}"><br>
    <label for="input_cobertura">Cobertura</label><br>
    <input type="text" name="input_cobertura" id="input_cobertura" value="{{cob}}"><br>
    <label for="input_preco">Preco</label><br>
    <input type="text" name="input_preco" id="input_preco" value="{{preco}}"><br>
    <button>Salvar</button>
</form>